trunk/MdwsDemo/Web References/scheduling/SchedulingSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mdws.medora.va.gov/SchedulingSvc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mdws.medora.va.gov/SchedulingSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mdws.medora.va.gov/SchedulingSvc">
      <s:element name="getClinics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="target" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinicsResult" type="tns:TaggedHospitalLocationArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaggedHospitalLocationArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTaggedArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="locations" type="tns:ArrayOfHospitalLocationTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractTaggedArrayTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractArrayTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractTO" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fault" type="tns:FaultTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaultTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="innerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="innerMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="innerStackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="suggestion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataSourceTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="protocol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="modality" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="testSource" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="vendor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="siteId" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="welcomeMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TaggedText">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="textArray" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="taggedResults" type="tns:ArrayOfTaggedText" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaggedText">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaggedText" nillable="true" type="tns:TaggedText" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="sitecode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="moniker" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="regionID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="lastEventTimestamp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="lastEventReason" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dataSources" type="tns:DataSourceArray" />
              <s:element minOccurs="0" maxOccurs="1" name="parentSiteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="childSites" type="tns:SiteArray" />
              <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="systemName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="siteType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataSourceArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfDataSourceTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDataSourceTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataSourceTO" nillable="true" type="tns:DataSourceTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="sites" type="tns:ArrayOfSiteTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSiteTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SiteTO" nillable="true" type="tns:SiteTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HospitalLocationTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="department" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="service" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="specialty" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="facility" type="tns:SiteTO" />
              <s:element minOccurs="0" maxOccurs="1" name="building" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="floor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="room" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="bed" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="appointmentTimestamp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="physicalLocation" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="askForCheckIn" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="appointmentLength" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="clinicDisplayStartTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="displayIncrements" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="availability" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfHospitalLocationTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HospitalLocationTO" nillable="true" type="tns:HospitalLocationTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="getClinicAvailability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clinicId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinicAvailabilityResult" type="tns:TextTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getClinicSchedulingDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clinicId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicSchedulingDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinicSchedulingDetailsResult" type="tns:HospitalLocationTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppointmentTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="target" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppointmentTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAppointmentTypesResult" type="tns:AppointmentTypeArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentTypeArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="appointmentTypes" type="tns:ArrayOfAppointmentTypeTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAppointmentTypeTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AppointmentTypeTO" nillable="true" type="tns:AppointmentTypeTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AppointmentTypeTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="synonym" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="makeAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clinicId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appointmentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appointmentTimestamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appointmentLength" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="makeAppointmentResult" type="tns:AppointmentTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="facility" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="clinic" type="tns:HospitalLocationTO" />
              <s:element minOccurs="0" maxOccurs="1" name="labDateTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="xrayDateTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ekgDateTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="purpose" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="currentStatus" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getPendingAppointments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPendingAppointmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPendingAppointmentsResult" type="tns:TaggedAppointmentArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaggedAppointmentArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTaggedArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="appts" type="tns:ArrayOfAppointmentTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAppointmentTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AppointmentTO" nillable="true" type="tns:AppointmentTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPatientsByClinic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clinicId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stopDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientsByClinicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPatientsByClinicResult" type="tns:PatientArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PatientArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:ArrayOfPatientTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPatientTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PatientTO" nillable="true" type="tns:PatientTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PatientTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:PersonTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="occupation" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="employmentStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="employerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="relationships" type="tns:PersonArray" />
              <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="mpiPid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="mpiChecksum" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="localPid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sitePids" type="tns:TaggedTextArray" />
              <s:element minOccurs="0" maxOccurs="1" name="vendorPid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="location" type="tns:HospitalLocationTO" />
              <s:element minOccurs="0" maxOccurs="1" name="cwad" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="restricted" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="admitTimestamp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="serviceConnected" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="scPercent" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="inpatient" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="deceasedDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="confidentiality" type="tns:TaggedText" />
              <s:element minOccurs="1" maxOccurs="1" name="needsMeansTest" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="patientFlags" type="tns:TaggedTextArray" />
              <s:element minOccurs="0" maxOccurs="1" name="cmorSiteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="activeInsurance" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="isTestPatient" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="currentMeansStatus" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="hasInsurance" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="preferredFacility" type="tns:TaggedText" />
              <s:element minOccurs="0" maxOccurs="1" name="patientType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="isVeteran" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="isLocallyAssignedMpiPid" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="sites" type="tns:SiteArray" />
              <s:element minOccurs="0" maxOccurs="1" name="team" type="tns:TeamTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PersonTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="birthPlace" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="religion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ethnicity" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="maritalStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="homeAddress" type="tns:AddressTO" />
              <s:element minOccurs="0" maxOccurs="1" name="homePhone" type="tns:PhoneNumTO" />
              <s:element minOccurs="0" maxOccurs="1" name="cellPhone" type="tns:PhoneNumTO" />
              <s:element minOccurs="0" maxOccurs="1" name="demographics" type="tns:ArrayOfDemographicSetTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="streetAddress1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="streetAddress2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="streetAddress3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="county" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PhoneNumTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="areaCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="exchange" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDemographicSetTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DemographicSetTO" nillable="true" type="tns:DemographicSetTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DemographicSetTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="addresses" type="tns:ArrayOfAddressTO" />
          <s:element minOccurs="0" maxOccurs="1" name="phones" type="tns:ArrayOfPhoneNumTO" />
          <s:element minOccurs="0" maxOccurs="1" name="emailAddresses" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="names" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddressTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressTO" nillable="true" type="tns:AddressTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhoneNumTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneNumTO" nillable="true" type="tns:PhoneNumTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="persons" type="tns:ArrayOfPersonTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPersonTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonTO" nillable="true" type="tns:PersonTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaggedTextArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="results" type="tns:ArrayOfTaggedText" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TeamTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="pcpName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="attendingName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getVersion">
        <s:complexType />
      </s:element>
      <s:element name="getVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDataSource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datasource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="protocol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDataSourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addDataSourceResult" type="tns:SiteTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacadeVersion">
        <s:complexType />
      </s:element>
      <s:element name="getFacadeVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFacadeVersionResult" type="tns:TextTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setVha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sitesFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setVhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setVhaResult" type="tns:SiteArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRpcs">
        <s:complexType />
      </s:element>
      <s:element name="getRpcsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRpcsResult" type="tns:TextArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TextArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="text" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getVHA">
        <s:complexType />
      </s:element>
      <s:element name="getVHAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getVHAResult" type="tns:RegionArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegionArray">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractArrayTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="regions" type="tns:ArrayOfRegionTO" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRegionTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegionTO" nillable="true" type="tns:RegionTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegionTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sites" type="tns:SiteArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="connect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sitelist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="connectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectResult" type="tns:DataSourceArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:UserTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractTO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DUZ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="siteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="office" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="pager" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="orderRole" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="userClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="siteMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:TaggedTextArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="disconnect">
        <s:complexType />
      </s:element>
      <s:element name="disconnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="disconnectResult" type="tns:TaggedTextArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TaggedHospitalLocationArray" nillable="true" type="tns:TaggedHospitalLocationArray" />
      <s:element name="TextTO" nillable="true" type="tns:TextTO" />
      <s:element name="HospitalLocationTO" nillable="true" type="tns:HospitalLocationTO" />
      <s:element name="AppointmentTypeArray" nillable="true" type="tns:AppointmentTypeArray" />
      <s:element name="AppointmentTO" nillable="true" type="tns:AppointmentTO" />
      <s:element name="TaggedAppointmentArray" nillable="true" type="tns:TaggedAppointmentArray" />
      <s:element name="PatientArray" nillable="true" type="tns:PatientArray" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="SiteTO" nillable="true" type="tns:SiteTO" />
      <s:element name="SiteArray" nillable="true" type="tns:SiteArray" />
      <s:element name="TextArray" nillable="true" type="tns:TextArray" />
      <s:element name="RegionArray" nillable="true" type="tns:RegionArray" />
      <s:element name="DataSourceArray" nillable="true" type="tns:DataSourceArray" />
      <s:element name="UserTO" nillable="true" type="tns:UserTO" />
      <s:element name="TaggedTextArray" nillable="true" type="tns:TaggedTextArray" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getClinicsSoapIn">
    <wsdl:part name="parameters" element="tns:getClinics" />
  </wsdl:message>
  <wsdl:message name="getClinicsSoapOut">
    <wsdl:part name="parameters" element="tns:getClinicsResponse" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:getClinicAvailability" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:getClinicAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getClinicSchedulingDetails" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getClinicSchedulingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesSoapIn">
    <wsdl:part name="parameters" element="tns:getAppointmentTypes" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesSoapOut">
    <wsdl:part name="parameters" element="tns:getAppointmentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:makeAppointment" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:makeAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsSoapIn">
    <wsdl:part name="parameters" element="tns:getPendingAppointments" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsSoapOut">
    <wsdl:part name="parameters" element="tns:getPendingAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicSoapIn">
    <wsdl:part name="parameters" element="tns:getPatientsByClinic" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicSoapOut">
    <wsdl:part name="parameters" element="tns:getPatientsByClinicResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapIn">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapOut">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="addDataSourceSoapIn">
    <wsdl:part name="parameters" element="tns:addDataSource" />
  </wsdl:message>
  <wsdl:message name="addDataSourceSoapOut">
    <wsdl:part name="parameters" element="tns:addDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="getFacadeVersionSoapIn">
    <wsdl:part name="parameters" element="tns:getFacadeVersion" />
  </wsdl:message>
  <wsdl:message name="getFacadeVersionSoapOut">
    <wsdl:part name="parameters" element="tns:getFacadeVersionResponse" />
  </wsdl:message>
  <wsdl:message name="setVhaSoapIn">
    <wsdl:part name="parameters" element="tns:setVha" />
  </wsdl:message>
  <wsdl:message name="setVhaSoapOut">
    <wsdl:part name="parameters" element="tns:setVhaResponse" />
  </wsdl:message>
  <wsdl:message name="getRpcsSoapIn">
    <wsdl:part name="parameters" element="tns:getRpcs" />
  </wsdl:message>
  <wsdl:message name="getRpcsSoapOut">
    <wsdl:part name="parameters" element="tns:getRpcsResponse" />
  </wsdl:message>
  <wsdl:message name="getVHASoapIn">
    <wsdl:part name="parameters" element="tns:getVHA" />
  </wsdl:message>
  <wsdl:message name="getVHASoapOut">
    <wsdl:part name="parameters" element="tns:getVHAResponse" />
  </wsdl:message>
  <wsdl:message name="connectSoapIn">
    <wsdl:part name="parameters" element="tns:connect" />
  </wsdl:message>
  <wsdl:message name="connectSoapOut">
    <wsdl:part name="parameters" element="tns:connectResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="disconnectSoapIn">
    <wsdl:part name="parameters" element="tns:disconnect" />
  </wsdl:message>
  <wsdl:message name="disconnectSoapOut">
    <wsdl:part name="parameters" element="tns:disconnectResponse" />
  </wsdl:message>
  <wsdl:message name="getClinicsHttpGetIn">
    <wsdl:part name="target" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicsHttpGetOut">
    <wsdl:part name="Body" element="tns:TaggedHospitalLocationArray" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilityHttpGetIn">
    <wsdl:part name="clinicId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilityHttpGetOut">
    <wsdl:part name="Body" element="tns:TextTO" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsHttpGetIn">
    <wsdl:part name="clinicId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:HospitalLocationTO" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesHttpGetIn">
    <wsdl:part name="target" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesHttpGetOut">
    <wsdl:part name="Body" element="tns:AppointmentTypeArray" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentHttpGetIn">
    <wsdl:part name="clinicId" type="s:string" />
    <wsdl:part name="appointmentType" type="s:string" />
    <wsdl:part name="appointmentTimestamp" type="s:string" />
    <wsdl:part name="appointmentLength" type="s:string" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentHttpGetOut">
    <wsdl:part name="Body" element="tns:AppointmentTO" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsHttpGetIn">
    <wsdl:part name="startDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:TaggedAppointmentArray" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicHttpGetIn">
    <wsdl:part name="clinicId" type="s:string" />
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="stopDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicHttpGetOut">
    <wsdl:part name="Body" element="tns:PatientArray" />
  </wsdl:message>
  <wsdl:message name="getVersionHttpGetIn" />
  <wsdl:message name="getVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="addDataSourceHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="datasource" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="modality" type="s:string" />
    <wsdl:part name="protocol" type="s:string" />
    <wsdl:part name="region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="addDataSourceHttpGetOut">
    <wsdl:part name="Body" element="tns:SiteTO" />
  </wsdl:message>
  <wsdl:message name="getFacadeVersionHttpGetIn" />
  <wsdl:message name="getFacadeVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:TextTO" />
  </wsdl:message>
  <wsdl:message name="setVhaHttpGetIn">
    <wsdl:part name="sitesFileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setVhaHttpGetOut">
    <wsdl:part name="Body" element="tns:SiteArray" />
  </wsdl:message>
  <wsdl:message name="getRpcsHttpGetIn" />
  <wsdl:message name="getRpcsHttpGetOut">
    <wsdl:part name="Body" element="tns:TextArray" />
  </wsdl:message>
  <wsdl:message name="getVHAHttpGetIn" />
  <wsdl:message name="getVHAHttpGetOut">
    <wsdl:part name="Body" element="tns:RegionArray" />
  </wsdl:message>
  <wsdl:message name="connectHttpGetIn">
    <wsdl:part name="sitelist" type="s:string" />
  </wsdl:message>
  <wsdl:message name="connectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSourceArray" />
  </wsdl:message>
  <wsdl:message name="loginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="context" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpGetOut">
    <wsdl:part name="Body" element="tns:UserTO" />
  </wsdl:message>
  <wsdl:message name="disconnectHttpGetIn" />
  <wsdl:message name="disconnectHttpGetOut">
    <wsdl:part name="Body" element="tns:TaggedTextArray" />
  </wsdl:message>
  <wsdl:message name="getClinicsHttpPostIn">
    <wsdl:part name="target" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicsHttpPostOut">
    <wsdl:part name="Body" element="tns:TaggedHospitalLocationArray" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilityHttpPostIn">
    <wsdl:part name="clinicId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicAvailabilityHttpPostOut">
    <wsdl:part name="Body" element="tns:TextTO" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsHttpPostIn">
    <wsdl:part name="clinicId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicSchedulingDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:HospitalLocationTO" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesHttpPostIn">
    <wsdl:part name="target" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAppointmentTypesHttpPostOut">
    <wsdl:part name="Body" element="tns:AppointmentTypeArray" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentHttpPostIn">
    <wsdl:part name="clinicId" type="s:string" />
    <wsdl:part name="appointmentType" type="s:string" />
    <wsdl:part name="appointmentTimestamp" type="s:string" />
    <wsdl:part name="appointmentLength" type="s:string" />
  </wsdl:message>
  <wsdl:message name="makeAppointmentHttpPostOut">
    <wsdl:part name="Body" element="tns:AppointmentTO" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsHttpPostIn">
    <wsdl:part name="startDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPendingAppointmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:TaggedAppointmentArray" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicHttpPostIn">
    <wsdl:part name="clinicId" type="s:string" />
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="stopDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientsByClinicHttpPostOut">
    <wsdl:part name="Body" element="tns:PatientArray" />
  </wsdl:message>
  <wsdl:message name="getVersionHttpPostIn" />
  <wsdl:message name="getVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="addDataSourceHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="datasource" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="modality" type="s:string" />
    <wsdl:part name="protocol" type="s:string" />
    <wsdl:part name="region" type="s:string" />
  </wsdl:message>
  <wsdl:message name="addDataSourceHttpPostOut">
    <wsdl:part name="Body" element="tns:SiteTO" />
  </wsdl:message>
  <wsdl:message name="getFacadeVersionHttpPostIn" />
  <wsdl:message name="getFacadeVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:TextTO" />
  </wsdl:message>
  <wsdl:message name="setVhaHttpPostIn">
    <wsdl:part name="sitesFileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setVhaHttpPostOut">
    <wsdl:part name="Body" element="tns:SiteArray" />
  </wsdl:message>
  <wsdl:message name="getRpcsHttpPostIn" />
  <wsdl:message name="getRpcsHttpPostOut">
    <wsdl:part name="Body" element="tns:TextArray" />
  </wsdl:message>
  <wsdl:message name="getVHAHttpPostIn" />
  <wsdl:message name="getVHAHttpPostOut">
    <wsdl:part name="Body" element="tns:RegionArray" />
  </wsdl:message>
  <wsdl:message name="connectHttpPostIn">
    <wsdl:part name="sitelist" type="s:string" />
  </wsdl:message>
  <wsdl:message name="connectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSourceArray" />
  </wsdl:message>
  <wsdl:message name="loginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="context" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpPostOut">
    <wsdl:part name="Body" element="tns:UserTO" />
  </wsdl:message>
  <wsdl:message name="disconnectHttpPostIn" />
  <wsdl:message name="disconnectHttpPostOut">
    <wsdl:part name="Body" element="tns:TaggedTextArray" />
  </wsdl:message>
  <wsdl:portType name="SchedulingSvcSoap">
    <wsdl:operation name="getClinics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of clinics</wsdl:documentation>
      <wsdl:input message="tns:getClinicsSoapIn" />
      <wsdl:output message="tns:getClinicsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic availability information</wsdl:documentation>
      <wsdl:input message="tns:getClinicAvailabilitySoapIn" />
      <wsdl:output message="tns:getClinicAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic scheduling information. e.g. availability, default appointment length, etc.</wsdl:documentation>
      <wsdl:input message="tns:getClinicSchedulingDetailsSoapIn" />
      <wsdl:output message="tns:getClinicSchedulingDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of appointment types</wsdl:documentation>
      <wsdl:input message="tns:getAppointmentTypesSoapIn" />
      <wsdl:output message="tns:getAppointmentTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedule an appointment</wsdl:documentation>
      <wsdl:input message="tns:makeAppointmentSoapIn" />
      <wsdl:output message="tns:makeAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a patient's pending appointments</wsdl:documentation>
      <wsdl:input message="tns:getPendingAppointmentsSoapIn" />
      <wsdl:output message="tns:getPendingAppointmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of patients by clinic</wsdl:documentation>
      <wsdl:input message="tns:getPatientsByClinicSoapIn" />
      <wsdl:output message="tns:getPatientsByClinicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get MDWS Version</wsdl:documentation>
      <wsdl:input message="tns:getVersionSoapIn" />
      <wsdl:output message="tns:getVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a data source for this session</wsdl:documentation>
      <wsdl:input message="tns:addDataSourceSoapIn" />
      <wsdl:output message="tns:addDataSourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current facade's version</wsdl:documentation>
      <wsdl:input message="tns:getFacadeVersionSoapIn" />
      <wsdl:output message="tns:getFacadeVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set the current session's sites file</wsdl:documentation>
      <wsdl:input message="tns:setVhaSoapIn" />
      <wsdl:output message="tns:setVhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the executed RPCs from the base Vista connection</wsdl:documentation>
      <wsdl:input message="tns:getRpcsSoapIn" />
      <wsdl:output message="tns:getRpcsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all VHA sites</wsdl:documentation>
      <wsdl:input message="tns:getVHASoapIn" />
      <wsdl:output message="tns:getVHASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="connect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connect to a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:connectSoapIn" />
      <wsdl:output message="tns:connectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log onto a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnect all Vista systems</wsdl:documentation>
      <wsdl:input message="tns:disconnectSoapIn" />
      <wsdl:output message="tns:disconnectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SchedulingSvcHttpGet">
    <wsdl:operation name="getClinics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of clinics</wsdl:documentation>
      <wsdl:input message="tns:getClinicsHttpGetIn" />
      <wsdl:output message="tns:getClinicsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic availability information</wsdl:documentation>
      <wsdl:input message="tns:getClinicAvailabilityHttpGetIn" />
      <wsdl:output message="tns:getClinicAvailabilityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic scheduling information. e.g. availability, default appointment length, etc.</wsdl:documentation>
      <wsdl:input message="tns:getClinicSchedulingDetailsHttpGetIn" />
      <wsdl:output message="tns:getClinicSchedulingDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of appointment types</wsdl:documentation>
      <wsdl:input message="tns:getAppointmentTypesHttpGetIn" />
      <wsdl:output message="tns:getAppointmentTypesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedule an appointment</wsdl:documentation>
      <wsdl:input message="tns:makeAppointmentHttpGetIn" />
      <wsdl:output message="tns:makeAppointmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a patient's pending appointments</wsdl:documentation>
      <wsdl:input message="tns:getPendingAppointmentsHttpGetIn" />
      <wsdl:output message="tns:getPendingAppointmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of patients by clinic</wsdl:documentation>
      <wsdl:input message="tns:getPatientsByClinicHttpGetIn" />
      <wsdl:output message="tns:getPatientsByClinicHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get MDWS Version</wsdl:documentation>
      <wsdl:input message="tns:getVersionHttpGetIn" />
      <wsdl:output message="tns:getVersionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a data source for this session</wsdl:documentation>
      <wsdl:input message="tns:addDataSourceHttpGetIn" />
      <wsdl:output message="tns:addDataSourceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current facade's version</wsdl:documentation>
      <wsdl:input message="tns:getFacadeVersionHttpGetIn" />
      <wsdl:output message="tns:getFacadeVersionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set the current session's sites file</wsdl:documentation>
      <wsdl:input message="tns:setVhaHttpGetIn" />
      <wsdl:output message="tns:setVhaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the executed RPCs from the base Vista connection</wsdl:documentation>
      <wsdl:input message="tns:getRpcsHttpGetIn" />
      <wsdl:output message="tns:getRpcsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all VHA sites</wsdl:documentation>
      <wsdl:input message="tns:getVHAHttpGetIn" />
      <wsdl:output message="tns:getVHAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="connect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connect to a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:connectHttpGetIn" />
      <wsdl:output message="tns:connectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log onto a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:loginHttpGetIn" />
      <wsdl:output message="tns:loginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnect all Vista systems</wsdl:documentation>
      <wsdl:input message="tns:disconnectHttpGetIn" />
      <wsdl:output message="tns:disconnectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SchedulingSvcHttpPost">
    <wsdl:operation name="getClinics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of clinics</wsdl:documentation>
      <wsdl:input message="tns:getClinicsHttpPostIn" />
      <wsdl:output message="tns:getClinicsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic availability information</wsdl:documentation>
      <wsdl:input message="tns:getClinicAvailabilityHttpPostIn" />
      <wsdl:output message="tns:getClinicAvailabilityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get clinic scheduling information. e.g. availability, default appointment length, etc.</wsdl:documentation>
      <wsdl:input message="tns:getClinicSchedulingDetailsHttpPostIn" />
      <wsdl:output message="tns:getClinicSchedulingDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of appointment types</wsdl:documentation>
      <wsdl:input message="tns:getAppointmentTypesHttpPostIn" />
      <wsdl:output message="tns:getAppointmentTypesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Schedule an appointment</wsdl:documentation>
      <wsdl:input message="tns:makeAppointmentHttpPostIn" />
      <wsdl:output message="tns:makeAppointmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a patient's pending appointments</wsdl:documentation>
      <wsdl:input message="tns:getPendingAppointmentsHttpPostIn" />
      <wsdl:output message="tns:getPendingAppointmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of patients by clinic</wsdl:documentation>
      <wsdl:input message="tns:getPatientsByClinicHttpPostIn" />
      <wsdl:output message="tns:getPatientsByClinicHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get MDWS Version</wsdl:documentation>
      <wsdl:input message="tns:getVersionHttpPostIn" />
      <wsdl:output message="tns:getVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a data source for this session</wsdl:documentation>
      <wsdl:input message="tns:addDataSourceHttpPostIn" />
      <wsdl:output message="tns:addDataSourceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current facade's version</wsdl:documentation>
      <wsdl:input message="tns:getFacadeVersionHttpPostIn" />
      <wsdl:output message="tns:getFacadeVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set the current session's sites file</wsdl:documentation>
      <wsdl:input message="tns:setVhaHttpPostIn" />
      <wsdl:output message="tns:setVhaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the executed RPCs from the base Vista connection</wsdl:documentation>
      <wsdl:input message="tns:getRpcsHttpPostIn" />
      <wsdl:output message="tns:getRpcsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all VHA sites</wsdl:documentation>
      <wsdl:input message="tns:getVHAHttpPostIn" />
      <wsdl:output message="tns:getVHAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="connect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connect to a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:connectHttpPostIn" />
      <wsdl:output message="tns:connectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log onto a single VistA system</wsdl:documentation>
      <wsdl:input message="tns:loginHttpPostIn" />
      <wsdl:output message="tns:loginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnect all Vista systems</wsdl:documentation>
      <wsdl:input message="tns:disconnectHttpPostIn" />
      <wsdl:output message="tns:disconnectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchedulingSvcSoap" type="tns:SchedulingSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClinics">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinicAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinicSchedulingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getAppointmentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/makeAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getPendingAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getPatientsByClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/addDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getFacadeVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/setVha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getRpcs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getVHA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <soap:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchedulingSvcSoap12" type="tns:SchedulingSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClinics">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinicAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getClinicSchedulingDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getAppointmentTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/makeAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getPendingAppointments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getPatientsByClinic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/addDataSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getFacadeVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/setVha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getRpcs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/getVHA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <soap12:operation soapAction="http://mdws.medora.va.gov/SchedulingSvc/disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchedulingSvcHttpGet" type="tns:SchedulingSvcHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getClinics">
      <http:operation location="/getClinics" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <http:operation location="/getClinicAvailability" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <http:operation location="/getClinicSchedulingDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <http:operation location="/getAppointmentTypes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <http:operation location="/makeAppointment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <http:operation location="/getPendingAppointments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <http:operation location="/getPatientsByClinic" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <http:operation location="/getVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <http:operation location="/addDataSource" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <http:operation location="/getFacadeVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <http:operation location="/setVha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <http:operation location="/getRpcs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <http:operation location="/getVHA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <http:operation location="/connect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="/login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <http:operation location="/disconnect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchedulingSvcHttpPost" type="tns:SchedulingSvcHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getClinics">
      <http:operation location="/getClinics" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicAvailability">
      <http:operation location="/getClinicAvailability" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicSchedulingDetails">
      <http:operation location="/getClinicSchedulingDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentTypes">
      <http:operation location="/getAppointmentTypes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAppointment">
      <http:operation location="/makeAppointment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingAppointments">
      <http:operation location="/getPendingAppointments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsByClinic">
      <http:operation location="/getPatientsByClinic" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <http:operation location="/getVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDataSource">
      <http:operation location="/addDataSource" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacadeVersion">
      <http:operation location="/getFacadeVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVha">
      <http:operation location="/setVha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRpcs">
      <http:operation location="/getRpcs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVHA">
      <http:operation location="/getVHA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connect">
      <http:operation location="/connect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="/login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <http:operation location="/disconnect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchedulingSvc">
    <wsdl:port name="SchedulingSvcSoap" binding="tns:SchedulingSvcSoap">
      <soap:address location="http://mdws.vainnovation.us/mdws2/SchedulingSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="SchedulingSvcSoap12" binding="tns:SchedulingSvcSoap12">
      <soap12:address location="http://mdws.vainnovation.us/mdws2/SchedulingSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="SchedulingSvcHttpGet" binding="tns:SchedulingSvcHttpGet">
      <http:address location="http://mdws.vainnovation.us/mdws2/SchedulingSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="SchedulingSvcHttpPost" binding="tns:SchedulingSvcHttpPost">
      <http:address location="http://mdws.vainnovation.us/mdws2/SchedulingSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>